@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #a7a3a3;
  padding: 30px;
}




header {
  background-image: url('./images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  position: relative;
}

  nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
  }
  

.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}
.cart a{
  background-color: royalblue;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4{
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}