@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #a7a3a3;
  padding: 30px;
}




header {
  background-image: url('./images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  position: relative;
}

  nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content:center;
    float:right;
    align-content: center;
  }
  

   .cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
    }
.cart a{
  background-color: royalblue;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4{
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}

  .btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
  .btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.btn-white{
    background-color: #fff;
    color: #777777;
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all, 4s;
}
